extends layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/add-product.css")

block content
    main
        form.product-form(action="/admin/add", method="POST")
            .form-control
                label(for="title") Title
                input#title(type="text", name="title")
            button(type="submit") Add Product