<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/main.css">
</head>

<%- include('../includes/navigation.ejs') %>
<body>
    <h1>Your Orders</h1>
<%- include('../includes/end.ejs') %>